python-actionhandler/config/external_actionhandlers/snow-actionhandler-snow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.service-now.com/UBSTask" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.service-now.com/UBSTask" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/UBSTask">
	  <xsd:element name="execute">
		<xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UBStable" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UBStype" type="xsd:string"/>
            <xsd:element name="UBSaction" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UBSnumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="system" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="level">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="reported_on" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="summary" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="details" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="netcool_id" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="arago_id" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="error_code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="transaction_time" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="priority">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="impact">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="urgency">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="root_cause" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="state">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="1"/>
                  <xsd:maxInclusive value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="automation_state" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="notes" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="inc_number" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
            <xsd:element name="UBSstatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UBSerror_code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UBSerror_message" type="xsd:string"/>
          </xsd:sequence>
	    </xsd:complexType>
	  </xsd:element>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeSoapIn">
    <wsdl:part name="UBSTask" element="tns:execute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeSoapOut">
    <wsdl:part name="UBSTask" element="tns:executeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceNowSoap">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:executeSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:executeSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <soap:operation soapAction="http://www.service-now.com/UBSTask/execute" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNow_UBSTask">
    <wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
      <soap:address location="https://gsnowdev.ubsdev.net/webservices/UBSTask.do?SOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
